/**
 * 页面布局
 */

html {
  font:
    12px/1
    PingFang SC,
    Hiragino Sans GB,
    Heiti SC,
    Microsoft YaHei,
    WenQuanYi Micro Hei,
    Helvetica,
    Arial,
    sans-serif;
  background-color: $page-main-bg-color;
  color: $page-main-color;
}
